
/*Reset*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*sfondo pagina*/

body {
    background-color: #151922;
    font-size: 25px;
}

.container-main {
    display: flex;
}


/*colonna di sinistra*/

.col-left {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #5c5c5c;  
    max-width: 455px;
}

.container-col-left-margin {
    margin-left: 20px;
}


#logo-grande {
    width: 360px;
    height: 160px;
    margin-right: 20px;
}

#logo-piccolo {
    display: none;
}

.list-items {
    margin-bottom: 20px;
    list-style-type: none;
    margin-bottom: 50px;
}

.img-list-item {
    width: 45px;
    height: 50px;
    vertical-align: middle;
    filter: brightness(0.5);
    padding-bottom: 10px;
}

.item-none {
    margin-left: 10px;
}

.fa-solid {
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 40px;
    vertical-align: middle;
}

.fa-magnifying-glass {
    margin-right: 22px;
}

.container-main h3 {
    color: white;
    margin-bottom: 10px;
}


.btn-add {
    width: 85px;
    height: 85px;
    margin-bottom: 25px;
    filter: brightness(0.5);
}

.fa-plus {
    margin: 0 auto;
}

.playlist-items {
    list-style-type: none;
    margin-bottom: 200px;
   
}

.name-playlist {
    margin-bottom: 20px;
}

.line {
    margin-bottom: 15px;
    width: 330px;
}

/*colonna di destra*/

.col-right {
    width: 100%;
    height: 170px;
    background-color: #10131a;
}

footer {
    background-color: #282828;
    height: 170px;
}



/*Fine Codice CSS*/

/*Inizio Query*/

/*Misura telefono*/

@media screen and (max-width: 480px){

    .container-col-left-margin {
        margin: 10px;
    }

    .col-left {
        max-width: 55px;
    }

    #logo-grande {
        display: none;
    }

    #logo-piccolo {
        display: inline-block;
        width: 35px;
        height: 30px;
        margin-bottom: 30px;
    }

    .item-none {
        display: none;
    }
    

    body {
        max-width: 680px;
    }

    .container-playlist {
        display: none;
    }

    .img-list-item {
        width: 35px;
        height: 40px;
        display: block;
        margin: 0 auto;
    }

    .img-list-item:hover {
        border-left: 2px solid green;
    }
      
    .list-items {
        margin-bottom: 330px;

    }

    .col-right {
        height: 90px;
    }

    footer {
        height: 90px;
    }
}
