
/*Reset*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*sfondo pagina*/

body {
    background-color: #151922;
    font-size: 25px;
}

.container-main {
    background-color: red;
    display: flex;
}

/*colonna di sinistra*/

.col-left {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #5c5c5c;  
    max-width: 455px;
    margin-bottom: 20px;
}


#logo-grande {
    width: 360px;
    height: 160px;
    margin-left: 20px;
    margin-right: 20px;
}

#logo-piccolo {
    display: none;
}

.list-items {
    margin-bottom: 20px;
    margin-left: 20px;
    list-style-type: none;
    margin-bottom: 50px;
}

.fa-solid {
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 40px;
}

.fa-magnifying-glass {
    margin-right: 22px;
}
/*colonna di destra*/

.col-right {
    width: 100%;
    height: 170px;
    background-color: #10131a;
}

footer {
    background-color: #282828;
    height: 170px;
}



/*Fine Codice CSS*/

/*Inizio Query*/

/*Misura telefono*/

@media screen and (max-width: 478px){
    .col-left {
        max-width: 55px;
    }

    #logo-grande {
        display: none;
    }

    #logo-piccolo {
        display: inline-block;
    }

}

/*Misura telefono*/


/*Misura tablet*/

@media screen and (max-width: 478px;){

}

/*Misura tablet*/




/*Reset*/



/*Reset*/


/*Reset*/



/*Reset*/


/*Reset*/



/*Reset*/



/*Reset*/