
/*Reset*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*sfondo pagina*/

body {
    background-color: #151922;
    font-size: 15px;
    height: 100vh;
    font-family: "Montserrat", serif;
}

.container-main {
    display: flex;
    height: calc(100% - 90px);
}


/*colonna di sinistra*/

.col-left {
        background-color: black;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        color: #5c5c5c;
        max-width: 230px;
}

.container-col-left-margin {
    margin-left: 20px;
}

.col-left-margin {
    margin-left: 20px;
}



#logo-grande {
    width: 70%;
    height: 10%;
    margin-right: 20px;
    margin-bottom: 20px;
}

#logo-piccolo {
    display: none;
}

.list-items {
    margin-bottom: 20px;
    list-style-type: none;
    margin-bottom: 30px;
}

.img-list-item {
    width: 25px;
    height: 40px;
    vertical-align: middle;
    opacity: 0.5;
    padding-bottom: 10px;
}

.user {
    color: white;
    margin-top: 10px;
}

.item-none {
    margin-left: 10px;
}

.fa-solid {
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 40px;
    vertical-align: middle;
}

.fa-magnifying-glass {
    margin-right: 22px;
}

.container-main h3 {
    color: white;
    margin-bottom: 10px;
}


.btn-add {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    filter: brightness(0.5);
}

.fa-plus {
    margin: 0 auto;
}

.playlist-items {
    list-style-type: none;  
    margin-bottom: 110px;
}

.name-playlist {
    margin-bottom: 20px;
}

.m-auto {
    margin-bottom: auto;
}

.line {
    margin-bottom: 15px;
    width: 100px;
}

.item-user {
    margin-top: auto;
}

/*colonna di destra*/

.col-right {
    width: 100%;
    color: #5c5c5c;
    overflow: auto;
    margin-bottom: 20px;
}

.header-page {
    height: 90px;
    width: 100%;
    background-color:#080b12;
    display: flex;
    flex-direction: row-reverse;
}

.btn-top {
    height: 40px;
    border-radius: 30px;
    color: white;
    background-color: #080b12;
    border: 1px solid white;
    margin-right: 20px;
    margin-top: 20px;
}

.span-btn {
    padding: 50px;
}

.content {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 10px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #7d7f84;
}

.library-1 {
        display: flex;
        gap: 18px;
        justify-content: flex-start;
        width: 96%;
}

.library-img {
    width: calc((100% - 36px) / 1);
    height: 180px;
}

#foto-spoty {
    width: 100%;
    height: 100%;
}

.t-center {
    text-align: center;
}

.margin-top {
    margin-top: 10px;
}

footer {
    background-color: #282828;
    height: 90px;
}

.margin-top-library {
    margin-top: 140px;
}

.margin-top-h2 {
    margin-top: 50px;
}


.library-2 {
    display: flex;
    gap: 18px;
    justify-content: flex-start; 
}

.library-img-2 {
    height: 180px;
    width: 15%;
}

#foto-spoty-2 {
    width: 100%;
    height: 100%;
   
}

#foto-spoty-2-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



/*Fine Codice CSS*/

/*Inizio Query*/

/*Misura telefono*/

@media screen and (max-width: 768px){

    .col-right {
        max-width: 630px;
    }

    .library-1 {
        flex-wrap: wrap;
        margin: auto;
    }

    .library-img {
        height: 180px;
        width: 22%;
        margin-bottom: 170px;
    }

    .content {
        flex-wrap: wrap;
        gap: 20px;
    }

    .library-img-2 {
        height: 180px;
        width: 25%;
    }

    .margin-top-library {
        margin-top: 0;
    }
}
    

@media screen and (max-width: 576px){

    .content {
        gap: 20px;
    }

    .library-img {
        height: 150px;
        width: 44%;
    }

    .library-1 {
        margin-left: 14px;
    }

    .library-img-2 {
        height: 150px;
        width: 44%;
    }
}


@media screen and (max-width: 480px){

    .col-left-margin {
        margin: auto;
        margin-top: 10px;
        width: 50px;
    }

    .library-1 {
        margin-left: 10px;
    }

    #logo-grande {
        display: none;
    }

    #logo-piccolo {
        display: inline;
        width: 35px;
        height: 30px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .item-none {
        display: none;
    }
    

    body {
        max-width: 680px;
    }

    .container-playlist {
        display: none;
    }

    .img-list-item {
        width: 35px;
        height: 40px;
        display: block;
        margin: 0 auto;
    }
   
    .list-items {
        margin-bottom: 460px;

    }
    

    footer {
        height: 90px;
    }
}